<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-Домашняя-работа-№1" data-toc-modified-id="-Домашняя-работа-№1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><center> Домашняя работа №1</center></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Задание-1." data-toc-modified-id="Задание-1.-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Задание 1.</a></span><ul class="toc-item"><li><span><a href="#Выберите-верный-пункт:" data-toc-modified-id="Выберите-верный-пункт:-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>Выберите верный пункт:</a></span></li></ul></li><li><span><a href="#Задание-2." data-toc-modified-id="Задание-2.-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Задание 2.</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Информация-для-последующих-заданий" data-toc-modified-id="Информация-для-последующих-заданий-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Информация для последующих заданий</a></span></li></ul></li><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Описание данных</a></span><ul class="toc-item"><li><span><a href="#Таблица-transactions.csv" data-toc-modified-id="Таблица-transactions.csv-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Таблица <code>transactions.csv</code></a></span></li><li><span><a href="#Таблица-gender_train.csv" data-toc-modified-id="Таблица-gender_train.csv-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Таблица <code>gender_train.csv</code></a></span></li><li><span><a href="#Таблица-tr_mcc_codes.csv" data-toc-modified-id="Таблица-tr_mcc_codes.csv-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Таблица <code>tr_mcc_codes.csv</code></a></span></li><li><span><a href="#Таблица-tr_types.csv" data-toc-modified-id="Таблица-tr_types.csv-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Таблица <code>tr_types.csv</code></a></span></li><li><span><a href="#Задание-3." data-toc-modified-id="Задание-3.-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Задание 3.</a></span><ul class="toc-item"><li><span><a href="#Выберите-все-верные-пункты:" data-toc-modified-id="Выберите-все-верные-пункты:-1.1.5.1"><span class="toc-item-num">1.1.5.1&nbsp;&nbsp;</span>Выберите все верные пункты:</a></span></li></ul></li><li><span><a href="#Задание-4." data-toc-modified-id="Задание-4.-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>Задание 4.</a></span></li><li><span><a href="#Задание-5." data-toc-modified-id="Задание-5.-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>Задание 5.</a></span></li><li><span><a href="#Задание-6." data-toc-modified-id="Задание-6.-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>Задание 6.</a></span></li><li><span><a href="#Задание-7." data-toc-modified-id="Задание-7.-1.1.9"><span class="toc-item-num">1.1.9&nbsp;&nbsp;</span>Задание 7.</a></span></li><li><span><a href="#Задание-8." data-toc-modified-id="Задание-8.-1.1.10"><span class="toc-item-num">1.1.10&nbsp;&nbsp;</span>Задание 8.</a></span><ul class="toc-item"><li><span><a href="#Task-5:" data-toc-modified-id="Task-5:-1.1.10.1"><span class="toc-item-num">1.1.10.1&nbsp;&nbsp;</span>Task 5:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.1.10.2"><span class="toc-item-num">1.1.10.2&nbsp;&nbsp;</span>Вопросы:</a></span></li><li><span><a href="#Task-6:" data-toc-modified-id="Task-6:-1.1.10.3"><span class="toc-item-num">1.1.10.3&nbsp;&nbsp;</span>Task 6:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.1.10.4"><span class="toc-item-num">1.1.10.4&nbsp;&nbsp;</span>Вопросы:</a></span></li></ul></li></ul></li></ul></li></ul></div>

 # <center> Домашняя работа №1

In [1]:
import pandas as pd
import numpy as np

### Задание 1. 

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям. 

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 4 до 15, не включая 15.  
2. Выберите из s только целочисленные элементы и вычислите их дисперсию (2). (\*)


##### Пояснения:
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [32]:
s = pd.Series(data=['1', 5, 3.1, 'hello', -5, -1000, 12.78, 'world', 10.10, '!', 98], 
              index=range(6, 28, 2))

new_s = pd.Series(s.values, index=range(4, 15))
int_elements = s[s.apply(lambda x: isinstance(x, int))]
variance = np.var(int_elements, ddof=0)

print("Новый Series:\n", new_s)
print("\nЦелочисленные элементы:\n", int_elements)
print("\nДисперсия:", variance)

Новый Series:
 4         1
5         5
6       3.1
7     hello
8        -5
9     -1000
10    12.78
11    world
12     10.1
13        !
14       98
dtype: object

Целочисленные элементы:
 8         5
14       -5
16    -1000
26       98
dtype: object

Дисперсия: 201563.25

##### Задание 2. 
1. Сгенерируйте Series из 200 значений нормально распределённой СВ (np.random.normal).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 5 раз. 
3. Ответьте на следующие вопросы: (\*)
    - 1) Выведите сумму элементов, строго меньших 2.5, имеющих нечётные значения индекса. 
    - 2) Выведите количество значений серии меньше нуля.

#### Пояснения:
(\*) Не забудьте про фиксированный seed (его менять не нужно)!
 - Определенное значение seed нужно, чтобы ответы у всех выполняющих
это задание были одинаковые и их можно было проверить (так как генерируются
одинаковые series).

In [3]:
np.random.seed(242)
data_array = np.random.normal(size=200)

data_cubed_array = data_array ** 3

indices_array = np.arange(200) * 5

sum_odd_index_array = data_cubed_array[(data_cubed_array < 2.5) & (indices_array % 2 != 0)].sum()

count_less_than_zero_array = (data_cubed_array < 0).sum()

print("Сумма элементов, строго меньших 2.5, с нечётными индексами:", sum_odd_index_array)
print("Количество значений серии меньше нуля:", count_less_than_zero_array)

Сумма элементов, строго меньших 2.5, с нечётными индексами: -48.9722276729037
Количество значений серии меньше нуля: 99

### Информация для последующих заданий
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [24]:
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "../Mavlyukaev_AI/data/tr_mcc_codes.csv", 
                           sep=';')
tr_types = pd.read_csv(filepath_or_buffer = "../Mavlyukaev_AI/data/tr_types.csv", 
                       sep=';')
transactions = pd.read_csv(filepath_or_buffer = "../Mavlyukaev_AI/data/transactions.csv", 
                           sep=',', 
                           nrows=1000000)
gender_train = pd.read_csv(filepath_or_buffer = "../Mavlyukaev_AI/data/gender_train.csv", 
                           sep=',')

print(tr_mcc_codes.head())
print(tr_types.head())
print(transactions.head())
print(gender_train.head())

   mcc_code                                    mcc_description
0       742                                Ветеринарные услуги
1      1711  Генеральные подрядчики по вентиляции, теплосна...
2      1731                        Подрядчики по электричеству
3      1799  Подрядчики, специализированная торговля — нигд...
4      2741           Разнообразные издательства/печатное дело
   tr_type                                     tr_description
0     3200  Плата за предоставление услуг посредством моби...
1     3210  Плата за предоставление отчета по счету карты ...
2     3800  Плата за обслуживание банковской карты (за пер...
3     4000            Плата за получение наличных в Сбербанке
4     4001  Плата за получение наличных в Сбербанке (в дру...
   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN
   customer_id  gender
0     10928546       1
1     69348468       1
2     61009479       0
3     74045822       0
4     27979606       1

## Описание данных
### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

### Задание 3.
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)
3. Найдите у него наиболее часто встречающийся модуль суммы приходов/расходов. (\**)
4. Выделите клиента с минимальной суммой транзакции.



##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>
(\**) Если у клиента были транзакции [-10000, 10, 0, -10], то наиболее встречающийся модуль суммы транзакций равен 10, и встретился он 2 раза.

In [26]:
transactions.set_index('customer_id', inplace=True)

max_transaction_customer_id = transactions['amount'].idxmax()

customer_transactions = transactions.loc[max_transaction_customer_id]
most_frequent_amount = customer_transactions['amount'].abs().mode()[0]

min_transaction_customer_id = transactions['amount'].idxmin()

print("Клиент с максимальной суммой транзакции (приход):", max_transaction_customer_id)
print("Наиболее часто встречающийся модуль суммы транзакций:", most_frequent_amount)
print("Клиент с минимальной суммой транзакции (расход):", min_transaction_customer_id)

Клиент с максимальной суммой транзакции (приход): 26782922
Наиболее часто встречающийся модуль суммы транзакций: 22459.16
Клиент с минимальной суммой транзакции (расход): 26782922

### Задание 4.
1. Найдите максимальную разницу между медианами суммы транзакций, посчитанными при заданных ниже условиях по полю amount из таблицы transactions (\*):
    - Медиана суммы транзакций
    - Медиана суммы транзакций по тем строкам, которые ни в одном из своих столбцов не содержат пустые значения
    - Медиана суммы транзакций по строкам, отсортированным по полю amount в порядке убывания, и из которых удалены дублирующиеся по столбцам [mcc_code, tr_type] строки, причём при удалении соответстующих дублей остаются только первые из дублирующихся строк



##### Пояснения:
(\*) Для вычисления максимальной разницы между значениями списка можно использовать функцию np.ptp  
(\**) Если в результате получились значения [1,3,5], то макимальная разница между ними 4 == 5-1.

In [27]:
median_all = transactions['amount'].median()
median_non_na = transactions.dropna().amount.median()

sorted_transactions = transactions.sort_values(by='amount', ascending=False)
unique_transactions = sorted_transactions.drop_duplicates(subset=['mcc_code', 'tr_type'], keep='first')
median_unique_sorted = unique_transactions['amount'].median()

medians = [median_all, median_non_na, median_unique_sorted]
max_difference = np.ptp(medians)

print("Медиана всех транзакций:", median_all)
print("Медиана без пустых значений:", median_non_na)
print("Медиана отсортированных уникальных транзакций:", median_unique_sorted)
print("Максимальная разница между медианами:", max_difference)

Медиана всех транзакций: -5614.79
Медиана без пустых значений: -5596.6
Медиана отсортированных уникальных транзакций: -920.83
Максимальная разница между медианами: 4693.96

### Задание 5.
Соедините transactions со всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [28]:
transactions = pd.read_csv(filepath_or_buffer = "../Mavlyukaev_AI/data/transactions.csv", 
                           sep=',', 
                           nrows=1000000)
transactions = transactions.merge(tr_mcc_codes)
transactions = transactions.merge(tr_types)
transactions = transactions.merge(gender_train, how='left')

print(f"Количество строк после объединения: {len(transactions)}")

Количество строк после объединения: 999584

### Задание 6.
1. Определите модуль разницы между медианными тратами женщин и мужчин (трата - отрицательное значение amount). 



##### Пояснения:


(\**) Обратите внимание, что для вычисления модуля разности точных знаний о том,  
какой класc относится к мужчинам, а какой - к женщинам, пока не требуется.

In [29]:
expenses = transactions[transactions['amount'] < 0]
median_by_gender = expenses.groupby('gender')['amount'].median()
mod_difference = abs(median_by_gender[0] - median_by_gender[1])

print(f"Модуль разницы между медианными тратами женщин и мужчин: {mod_difference}")

Модуль разницы между медианными тратами женщин и мужчин: 1459.8500000000004

### Задание 7.
1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 транзакций для мужчин и для женщин, наибольших среди всех транзакций по полученным значениям "max_income". (\*)
2. Выведите те, которые встречаются одновременно и у мужчин, и у женщин.

In [30]:
incomes = transactions[transactions['amount'] > 0]

max_income_by_gender_tr_type = incomes.groupby(['gender', 'tr_type'])['amount'].max().reset_index()
max_income_by_gender_tr_type.rename(columns={'amount': 'max_income'}, inplace=True)

top_10_men = max_income_by_gender_tr_type[max_income_by_gender_tr_type['gender'] == 0].nlargest(10, 'max_income')
top_10_women = max_income_by_gender_tr_type[max_income_by_gender_tr_type['gender'] == 1].nlargest(10, 'max_income')

common_transactions = pd.merge(top_10_men, top_10_women, on='tr_type', suffixes=('_men', '_women'))

print("Общие транзакции между мужчинами и женщинами по типам транзакций:")
print(common_transactions)

Общие транзакции между мужчинами и женщинами по типам транзакций:
   gender_men  tr_type  max_income_men  gender_women  max_income_women
0         0.0     7070     67377473.16           1.0      1.459845e+08
1         0.0     7020     22459157.72           1.0      2.133620e+07
2         0.0     7021     13677627.05           1.0      1.796733e+07
3         0.0     7071     11229578.86           1.0      1.111728e+07
4         0.0     7010      8983663.09           1.0      9.769734e+06
5         0.0     7031      6513155.74           1.0      5.614789e+06
6         0.0     7030      5614789.43           1.0      6.737747e+06
7         0.0     7011      4604127.33           1.0      7.433981e+06

### Задание 8.
1. Выделите из поля tr_datetime относительный день tr_day (первое число до точного времени). (\*)
2. Отфильтруйте строки таким образом, чтобы оставить только те транзакции, у которых в соответствующий относительный день tr_day количество уникальных MCC кодов при транзакциях было больше 75 (можно воспользоваться функцией nunique())
3. Сгруппируйте полученный отфильтрованный датафрейм по MCC коду и полу, после чего, пронализировав результат, выберите верные варианты ответов ниже (\**): 
    - 1) gender == 0 - женщины, gender == 1 - мужчины
    - 2) gender == 1 - женщины, gender == 0 - мужчины
    - 3) Абсолютное значение медианы с типом "Флористика" (расходов/приходов) у мужчин выше той же медианы у женщин
    - 4) Абсолютное значение медианы женских трат (расходов/приходов) на ценные бумаги выше мужских
    - 5) Абсолютное значение медианы женских трат (расходов/приходов) в категории "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков" ниже мужских
    
##### Пояснения:
(\*) Для того, чтобы выделить всё, что стоит до первого пробела, можно использовать строковые методы для датафрейма - .str.split(), например. 
(\**) Понять, какой класс к какому типу транзакций (мужские/женские) относится можно, если поизучать типичные для мужчин/женщин категории и сравнить средние/медианы расходов и/или приходов в них.<br>
Снять ограничение на количество выводимых строк можно с помощью:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    print(a)

In [33]:
transactions['tr_day'] = transactions['tr_datetime'].str.split(' ').str[0]

mcc_count_by_day = transactions.groupby('tr_day')['mcc_code'].nunique()

valid_days = mcc_count_by_day[mcc_count_by_day > 75].index
filtered_transactions = transactions[transactions['tr_day'].isin(valid_days)]

grouped = filtered_transactions.groupby(['mcc_code', 'gender'])

median_expenses = grouped['amount'].median().abs()

floristics_code = tr_mcc_codes[tr_mcc_codes['mcc_description'] == "Флористика"]['mcc_code'].iloc[0]
bars_code = tr_mcc_codes[tr_mcc_codes['mcc_description'] == "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков"]['mcc_code'].iloc[0] 
securities_code = tr_mcc_codes[tr_mcc_codes['mcc_description'] == "Ценные бумаги: брокеры/дилеры"]['mcc_code'].iloc[0]

floristics_median = median_expenses.loc[floristics_code]
bars_median = median_expenses.loc[bars_code]
securities_median = median_expenses.loc[securities_code]

print("Медианы расходов/приходов для флористики:", floristics_median)
print("Медианы расходов/приходов для баров и клубов:", bars_median)
print("Медианы расходов/приходов для ценных бумаг:", securities_median)

Медианы расходов/приходов для флористики: gender
0.0    13890.99
1.0    18865.69
Name: amount, dtype: float64
Медианы расходов/приходов для баров и клубов: gender
0.0     9387.93
1.0    13475.49
Name: amount, dtype: float64
Медианы расходов/приходов для ценных бумаг: gender
0.0     6737.75
1.0    11229.58
Name: amount, dtype: float64